[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tabulate = "*"
shortuuid = "*"
maskpass = "*"
cryptography = "*"
python-dotenv = "*"
flask-smorest = "*"
marshmallow = "*"
flask-jwt-extended = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
